/* Général */
body {
    background-color: #ffffff;
    color: black;
    margin: 0%;

}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */
header {
    background: linear-gradient(#D8BAE9 0%, #B482CF 100%);
    position: sticky;
    top: 0;
    z-index: 2;
    height: 50px;
    border-bottom: #b667e1 2px solid;
}

/* Boutons avec liens internes*/

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

nav ul li {
    padding: 1%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

nav ul li a:hover {
    color: #570b81;
}

/*top présentation*/

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boite_presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

#boite_presentation>img {
    width: 250px;
    background-color: #570b81;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#boite_presentation>img:hover {
    transform: rotate(5deg) scale(1.05, 1.05);
}

#boite_presentation>p {
    font-size: 1.3rem;
    line-height: 1.5;
    width: 400px;
}


/* Section projet */

#projets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sous_boite_projets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carte {
    text-align: center;
    background-color: #E9C5FC;
    height: fit-content;
    min-height: 500px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

.carte:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.carte img {
    width: 350px;
    border-radius: 10px;
}

.video {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

details {
    margin-right: auto;
    margin-left: 20px;
}

details[open] {
    text-align: left;
}

summary {
    cursor: pointer;
    font-size: 20px;
}

/* Section compétences */

#competences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_competences {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    border: #B482CF 1px solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.competence:hover {
    background-color: #E9C5FC;
}

#realiser:target,
#optimiser:target,
#administrer:target,
#gerer:target,
#conduire:target,
#collaborer:target {
    display: flex;
}

.popup {
    width: 60%;
    height: 60%;
    top: 17%;
    left: 17%;
    position: fixed;
    background-color: #eed6fce3;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    border-radius: 10px;
}

.popup > h1 > a {
    color :#c478ec;
}

.popup > h1 > a:visited {
    color: #6b169a;
}

.popup > p {
    font-size: large;
    padding: 5%;
}

.closeButton {
    align-self: flex-end;
    color: black;
    text-decoration: none;
    position: fixed;
}




/* Section connaissances */

#connaissances {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dispo_connaissances {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
}

.bloc_connaissances {
    background-color: #E9C5FC;
    height: 180px;
    width: 300px;
    margin: 10px;
}

.bloc_connaissances>h3 {
    text-align: center;
    margin-top: 10px;
}

.bloc_connaissances>p {
    padding-left: 20px;
    padding-right: 10px;
    line-height: 1.2;
}

#hautGauche {
    border-radius: 15px 15px 0 15px;
}

#hautDroit {
    border-radius: 15px 15px 15px 0;
}

#basGauche {
    border-radius: 15px 0 15px 15px;
}

#basDroit {
    border-radius: 0 15px 15px 15px;
}


/* A propos*/

#apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #E9C5FC;
    box-shadow: 0 0px 30px rgb(214, 140, 253);
}

#apropos button {
    font-size: large;
    background-color: #9e48cc;
    border: #ffffff 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#apropos button a {
    color: #ffffff;
    text-decoration: none;
}

#apropos button:hover {
    transform: scale(1.1, 1.1);
}

/* Formulaire de contact */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

form {
    padding-top: 20px;
    background-color: #E9C5FC;
    width: 55%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

form>input[type="email"],
form>textarea {
    margin: 10px 10%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #b667e1;
}

form>label {
    margin: 0 10%;
    padding: 10px;
    font-size: 20px;
}

.submit_button {
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #b667e1;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #ffffff;
}

.submit_button:hover {
    font-weight: bold;
    border: 3px solid #b667e1;
}

/*responsive*/

@media (max-width: 800px) {
    nav ul li a {
        font-size: 1.3rem;
    }

    #dispo_connaissances {
        width: 60%;
    }
}

@media (max-width: 400px) {
    nav ul li a {
        font-size: 1rem;
    }
}